<a href="https://colab.research.google.com/github/choinamyee/RPA/blob/main/0908_Phone_Number.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:

data = [
    "40716543298",
    "40791345621",
    "40735416854",
    "40733652145",
    "40799885412",
    "40733154268",
    "40712462257",
    "40731254562",
    "40741785214",
    "40731653845"
]
formatted_data = [f"{item[:3]}-{item[3:7]}-{item[7:]}" for item in data]
        # 전화번호 붙어 있는거 슬라이싱
for number in formatted_data:
    print(number)

407-1654-3298
407-9134-5621
407-3541-6854
407-3365-2145
407-9988-5412
407-3315-4268
407-1246-2257
407-3125-4562
407-4178-5214
407-3165-3845

In [10]:
import pandas as pd
import re

In [11]:
df =pd.read_excel('challenge.xlsx') #, sheet_name=10)

In [12]:
df

,First Name,Last Name,Company Name,Role in Company,Address,Email,Phone Number
0,John,Smith,IT Solutions,Analyst,98 North Road,jsmith@itsolutions.co.uk,407-1654-3298
1,Jane,Dorsey,MediCare,Medical Engineer,11 Crown Street,jdorsey@mc.com,407-9134-5621
2,Albert,Kipling,Waterfront,Accountant,22 Guild Street,kipling@waterfront.com,407-3541-6854
3,Michael,Robertson,MediCare,IT Specialist,17 Farburn Terrace,mrobertson@mc.com,407-3365-2145
4,Doug,Derrick,Timepath Inc.,Analyst,99 Shire Oak Road,dderrick@timepath.co.uk,407-9988-5412
5,Jessie,Marlowe,Aperture Inc.,Scientist,27 Cheshire Street,jmarlowe@aperture.us,407-3315-4268
6,Stan,Hamm,Sugarwell,Advisor,10 Dam Road,shamm@sugarwell.org,407-1246-2257
7,Michelle,Norton,Aperture Inc.,Scientist,13 White Rabbit Street,mnorton@aperture.us,407-3125-4562
8,Stacy,Shelby,TechDev,HR Manager,19 Pineapple Boulevard,sshelby@techdev.com,407-4178-5214
9,Lara,Palmer,Timepath Inc.,Programmer,87 Orange Street,lpalmer@timepath.co.uk,407-3165-3845

In [3]:
#p = /^[0-9]{3}[-]+[0-9]{4}[-]+[0-9]{4}$/

SyntaxError: ignored

  정규 필터식	의미



  \w	한 글자


  \w+	한 단어

  \d	정수 1자리

  \d+	정수 전체

  \s	공백 한칸

  \s+	공백 전체

  \특수문자	특수문자 구분

In [4]:
p = '\d{3}s?-?\d{4}\s?-?\d{4}'

In [13]:
phone_num = []

In [14]:
for index, row in df.iterrows():
  list_index = df.iloc[index].tolist()
  for i in list_index:
    # print(i, type(i))
    if type(i) is str:
      # print('Yes: {0}'.format(i))
      m = re.match(pattern=p, string=i)
      if m:
        print("나 전화번호야!!!: {0}\n".format(i))
        phone_num.append(i)

나 전화번호야!!!: 407-1654-3298

나 전화번호야!!!: 407-9134-5621

나 전화번호야!!!: 407-3541-6854

나 전화번호야!!!: 407-3365-2145

나 전화번호야!!!: 407-9988-5412

나 전화번호야!!!: 407-3315-4268

나 전화번호야!!!: 407-1246-2257

나 전화번호야!!!: 407-3125-4562

나 전화번호야!!!: 407-4178-5214

나 전화번호야!!!: 407-3165-3845

In [15]:
phone_num

['407-1654-3298',
 '407-9134-5621',
 '407-3541-6854',
 '407-3365-2145',
 '407-9988-5412',
 '407-3315-4268',
 '407-1246-2257',
 '407-3125-4562',
 '407-4178-5214',
 '407-3165-3845']

In [16]:
set_num = set(phone_num)

In [17]:
set_num

{'407-1246-2257',
 '407-1654-3298',
 '407-3125-4562',
 '407-3165-3845',
 '407-3315-4268',
 '407-3365-2145',
 '407-3541-6854',
 '407-4178-5214',
 '407-9134-5621',
 '407-9988-5412'}

In [18]:
phone_num = list(set_num)

In [19]:
phone_num

['407-3165-3845',
 '407-3125-4562',
 '407-9988-5412',
 '407-3541-6854',
 '407-4178-5214',
 '407-3315-4268',
 '407-9134-5621',
 '407-1654-3298',
 '407-3365-2145',
 '407-1246-2257']